<div id="term-listing">
  <%= render :partial => 'welcome/search_results' %>
</div>



<div id="search" >
  <%= render :partial => 'welcome/search' %>
</div>

<p><i>While you're at it, search some other terms</i></p>


