<div class="row">
	<div class="col-xs-3">
		<%= image_tag 'budget.png' %>
	</div>
	<div class="col-xs-3">
		<%= image_tag 'authority.png' %>
	</div>
	<div class="col-xs-3">
		<%= image_tag 'need.png' %>
	</div>
	<div class="col-xs-3">
		<%= image_tag 'timeline.png' %>
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<h4>Budget</h4>
	</div>
	<div class="col-xs-3">
		<h4>Authority</h4>
	</div>
	<div class="col-xs-3">
		<h4>Needs</h4>
	</div>
	<div class="col-xs-3">
		<h4>Timeline</h4>
	</div>
</div>



