<div class="row">
	<div class="col-xs-3">
		<%= image_tag 'budget.png', :size => '128x128' %>
	</div>
	<div class="col-xs-3">
		<%= image_tag 'authority.png', :size => '128x128' %>
	</div>
	<div class="col-xs-3">
		<%= image_tag 'need.png', :size => '128x128' %>
	</div>
	<div class="col-xs-3">
		<%= image_tag 'timeline.png', :size => '128x128' %>
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<h3>Budget</h3>
	</div>
	<div class="col-xs-3">
		<h3>Authority</h3>
	</div>
	<div class="col-xs-3">
		<h3>Needs</h3>
	</div>
	<div class="col-xs-3">
		<h3>Timeline</h3>
	</div>
</div>



