<div id="text-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->




            <div class="carousel-inner">
                <div class="item active">   
                    <div class="carousel-content">
                        <div>
                        <% @events.each do |event| %>
                          <p><%= event.subject %> @ <%= event.startdatetime %></p>
                        <% end %>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                        <% @events.each do |event| %>
                          <p><%= event.subject %></p>
                        <% end %>
                        </div>
                    </div>
                </div>
            </div>


    <!-- Controls --> <a class="left carousel-control" href="#text-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#text-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>
