<div id="text-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->

            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <p>August 1st: Daily Demo is back in ChiHub</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p>August 5th: ESMB Volleyball Tournament</p>
                        </div>
                    </div>
                </div>
				<div class="item">
                    <div class="carousel-content">
                        <div>
                            <p>August 11th: Chicago Talks on Customer Success</p>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p>August 18th: ChicagoHub Q3 Volunteer Day</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>                          
                            <p>August 19th: 4th Annual Salesforce MS Golf Outing & BBQ Social</p>
                        </div>
                    </div>
                </div> 
            </div>


    <!-- Controls --> <a class="left carousel-control" href="#text-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#text-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>
