<div class="row ">
    <div class=" col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <div class="db-wrapper">
            <h2>Enterprise License Comparison</h2>
            <br>
            <div class="db-pricing-nine">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="db-bk-color-zero">Objects</th>
                                <th class="db-bk-color-one">Sales Cloud</th>
                                <th class="db-bk-color-two">Service Cloud</th>
                                <th class="db-bk-color-three">Employee Apps</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="db-width-perticular">Accounts</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Activities, Tasks</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Assets</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-stop icon-blue"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Calendar, Events</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Campaigns</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Cases</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Employee Cases</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Contacts</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Content</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Documents</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Entitlements</td>
                                <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Ideas</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-asterisk icon-lightblue"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Knowledge</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-stop icon-orange"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Leads</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Opportunities</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Orders</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Products & Price Books</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Quotes</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                                <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Sales Contracts</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                                <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Service Contracts</td>
                                <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Solutions</td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                            </tr>
                            <tr>
                                <td class="db-width-perticular">Work Orders</td>
                                <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                                <td><i class="glyphicon glyphicon-ok icon-green"></i></td>
                                <td><i class="glyphicon glyphicon-remove icon-red"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
                <div class="db-pricing-nine">
                    <i>Last Updated: December 23, 2016</i>
                    <br><i class="glyphicon glyphicon-stop icon-blue"> Create, Read, Update</i>
                    <br><i class="glyphicon glyphicon-asterisk icon-lightblue"> Create, Read</i>
                    <br><i class="glyphicon glyphicon-stop icon-orange"> Read Only</i>
                </div>
                <a class="userlicense" href="/User_License_Comparison.pdf" download><button type="button" class="btn btn-secondary btn-lg btn-block">Full User License Comparison</button></a>
        </div>
    </div>
</div>




