 <h3>ESMB Central Solution Engineers</h3>
 <div id="team-list">
  <% @teams.each do |team| %>
    <table>
    <tr>
      <td><img src=<%= team.smallphotourl %>></td>
      <td><a href='login.salesforce.com' target="_blank"><%= team.name %> →</a></td>
        <td>
        <% case team.yoda__c when false %>
        <% when true %>
          <img src='/yoda_star_wars.gif' class='yoda' />
        <% end %>
        </td>
    </tr>
    </table>
  <% end %>
</div>