 <h3>ESMB Central Solution Engineers</h3>
 <div id="team-list">
  <% @teams.each do |team| %>
    <table>
    <tr>
      <td><img src=<%= team.smallphotourl %>></td>
      <td><a href='https://login.salesforce.com/?un=jsinitean@esmb.demo&pw=salesforce1&startURL=/one/one.app?source=aloha#/sObject/0F9410000009jh0CAA/rlName/GroupMembers/view?t=1475363214089' target="_blank"><%= team.name %> →</a></td>
        <td>
        <% case team.yoda__c when false %>
        <% when true %>
          <img src='/yoda_star_wars.gif' class='yoda' />
        <% end %>
        </td>
    </tr>
    </table>
  <% end %>
</div>