
<!--
<div class="row">
	<div class="col-xs-12 notes">
		<%= render :partial => 'team/marquee' %> 
	</div>
</div>
-->

<div class="row">
	<div class="col-xs-12">
			<h3>Heard an acronym at Salesforce you didn't recognize?</span></h3>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div id="search">
			<%= render :partial => 'team/search' %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="logo_pad">
			<%= image_tag 'logo2.png', :size => '180x113' %>
		</div>	
	</div>
</div>

<!--
<div class="row">
	<div class="col-xs-12">
		<div class="toggleClick">
			<a class="test" href="/" data-toggle="tooltip" data-placement="bottom" data-html="true"  data-animation="true" title="<%= render :partial => 'team/top_engineer' %>">
			A Good Solution Engineer... <span class="glyphicon glyphicon-info-sign"></span></a>
		</div>
		<div id="toggleText" style="display: none">
			<div class="row">

			</div>
		</div>
	</div>
</div>	
-->
