

<div class="row">
	<div class="col-xs-12">
			<h3>Heard an acronym at Salesforce you didn't recognize?</span></h3>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div id="search">
			<%= render :partial => 'team/search' %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="logo_pad">
			<%= image_tag 'logo2.png', :size => '180x113' %>
		</div>	
	</div>
</div>
