

<div class="row">
	<div class="col-xs-12">
			<h3>Heard a term at Salesforce you didn't recognize?</span></h3>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div id="search">
			<%= render :partial => 'team/search' %>
		</div>
	</div>
</div>

<%= render :partial => 'team/logo' %>
