

<div class="row">
	<div class="ben">
		<%= image_tag 'super.png'%>
	</div>	
</div>

<!--<div class="bant">
	<%= render :partial => 'team/bant' %>
</div>

<div class="col-xs-12 search-section">
	<h2>Heard a term at Salesforce you didn't recognize?</h2>
	<div id="search">
		<%= render :partial => 'team/search' %>
	</div>
</div> 

<div class="col-xs-12">
	<%= render :partial => 'team/pricing' %>
</div> -->