<nav class="footer navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">	
        <li><a href="https://www.youtube.com/watch?v=nCHyqfAhmZk" target="_blank">Higgy & the SE's <span class="glyphicon glyphicon-music"></span></a></li>
      </ul>
     </div>
  </div>
</nav>   