<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="/logo2.png" size='20x20'>
      </a>
    </div>
    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="https://org62.my.salesforce.com/a1T300000008OOcEAM" target="_blank">SDO <span class="glyphicon glyphicon-download"></span></a></li>
        <li><a href="https://activityeditor.herokuapp.com/#/calendar" target="_blank"><span class="glyphicon glyphicon-time"></span> Activities Editor</a></li>
        <li><a href="https://developer.salesforce.com/" target="_blank"><span class="glyphicon glyphicon glyphicon-flag"></span> Developers</a></li>
        <li><a href="https://developer.salesforce.com/trailhead/" target="_blank"><span class="glyphicon glyphicon-tree-conifer"></span> Trailhead</a></li>
        <li><a href="https://help.salesforce.com/home" target="_blank"><span class="glyphicon glyphicon-question-sign"></span> Success Community</a></li>
			  <li><a href="https://concierge.it.salesforce.com/" target="_blank"><span class="glyphicon glyphicon-cloud"></span> Concierge</a></li>
			  <li><a href="https://orgchart.it.salesforce.com/" target="_blank"><span class="glyphicon glyphicon glyphicon-user"></span> Org Chart</a></li>
			  <li><a href="https://tenkara.herokuapp.com/" target="_blank" class='heroku'><img src='/heroku.png'/>Tenkara</a></li>
			</ul>
		</li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
      	<li><a href="https://readiness--c.na6.visual.force.com/apex/alfredhome#/favorites" target="_blank"><span class="glyphicon glyphicon-floppy-disk"></span> Aloha</a></li>
        <li><a href="https://org62.my.salesforce.com/" target="_blank"><span class="glyphicon glyphicon-log-in"></span> Org62</a></li>
      </ul>
    </div>
  </div>
</nav>

